
/**
 * Base color palette
 */
:root {
	--c-orange: #f15d03;
	--c-teal: #04c7a5;
	--c-plum: #580f31;
	--c-sand: #fbe7cf;
	--c-blue: #66CAD9;
	--c-darkblue: #0094c3;
}

/**
 * Type Colors
 */
:root {
	--c-text--primary: rgba(0,0,0,1);
	--c-text--secondary: rgba(0,0,0,0.84);
	--c-text--primary--inverted: rgba(255,255,255,1);
	--c-text--secondary--inverted: rgba(255,255,255,0.8);
}
