
/**
 * Font families
 */
:root {
	--font-serif: 'PT Serif', serif;
	--font-sans: 'Raleway', sans-serif;
	--font-mono: 'Monaco', 'Consolas' monospace;
}

/**
 * Font sizes
 * -----------
 */
html {
	font-size: 17px; /* ROOT EM */
}
:root {
	--text--display: 4.326rem;
	--text--xl: 2.618rem;
	--text--l: 1.618rem;
	--text--m: 1rem;
	--text-s: 0.8rem;
}
/* TODO: use `postcss-media-variables` to enable this? */
@media (min-width: 680px) {
	:root {
		--text--display: 4.326rem;
		--text--xl: 2.618rem;
		--text--l: 1.618rem;
		--text--m: 1rem;
		--text-s: 0.8rem;
	}
}
