.grid-template-default {
	display: grid;
	width: 100%;
	height: 50vh;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"a a a b"
		"a a a b"
		"c c c c"
		"d . . e";
}

.grid-template-bigFirstCol {
	display: grid;
	width: 100%;
	height: 20vh;
	grid-gap: 1rem;
	grid-template-rows: 1fr;
	grid-template-columns: 3fr repeat(4, 1fr);
	grid-template-areas:
		"hey look at this lol";
}
.grid-template-bigFirstCol .card:nth-child(1) {
	grid-area: hey;
}
.grid-template-bigFirstCol .card:nth-child(2) {
	background-color: var(--color-sand);
	grid-area: this;
}

#basicExample .card:nth-child(1) {
	grid-area: a;
}
#basicExample .card:nth-child(2) {
	grid-area: b;
}
#basicExample .card:nth-child(3) {
	grid-area: b;
}
#basicExample .card:nth-child(4) {
	grid-area: c;
}
#basicExample .card:nth-child(5) {
	grid-area: d;
}
#basicExample .card:nth-child(6) {
	grid-area: e;
}


#overlapExample .card:nth-child(1) {
	grid-area: a;
}
#overlapExample .card:nth-child(2) {
	grid-area: b;
}
#overlapExample .card:nth-child(3) {
	grid-area: b;
}
#overlapExample .card:nth-child(4) {
	grid-area: c;
}
#overlapExample .card:nth-child(5) {
	outline: 3px dotted var(--color-red);
	grid-area: c;
	width: 50%;
	background: transparent;
}
#overlapExample .card:nth-child(6) {
	grid-area: e;
}

#overlapExampleNoTemplate {
	display: grid;
	width: 100%;
	height: 40vh;
	grid-gap: 1rem;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(5, 1fr);
}
#overlapExampleNoTemplate .card:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
#overlapExampleNoTemplate .card:nth-child(2) {
	opacity: 0.75;
	background-color: var(--color-sand);
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
}
#overlapExampleNoTemplate .card:nth-child(3) {
	opacity: 0.5;
	background: pink;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
}
#overlapExampleNoTemplate .card:nth-child(4) {
	background-color: var(--color-purple);
}

.grid-template-fixed {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, 140px);
	grid-template-rows: repeat(2, 140px);
	grid-template-areas:
		"a a b b"
		"a a b b";
}
.grid-template-fixed--tooTall {
	height: 50vh;
}

.grid-template-fixed .card:nth-child(1) {
	grid-area: a;
}
.grid-template-fixed .card:nth-child(2) {
	grid-area: b;
}

#justifyItemsFixed {
	justify-items: start;
}

#justifyContentFixed {
	justify-content: space-between;
}
